@font-face {
  font-family: "poppinsregular";
  src: url(../font/poppins-regular-webfont.woff2) format("woff2"),
    url(../font/poppins-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "poppinsregular", sans-serif;
}

/* Hero style */
.hero {
  height: 650px;
  padding-top: 40px;
  object-fit: cover;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/hero.webp);
}

.profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: 0.5s;
}

.profile-img:hover {
  transform: scale(1.05);
}

/* Ukuran Medium */
@media (min-width: 768px) {
  .hero {
    height: 600px;
  }
}

/* Ukuran Large */
@media (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .profile-img {
    width: 300px;
    height: 300px;
    transition: 0.5s;
  }
}

.bg-darkblue {
  background-color: #04387c;
}
